* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    height: 100vh;
    background: #f5f7fa;
  } 

 .barrasuperior {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #012e42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.busqueda {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px 12px;
  border-radius: 30px;
  gap: 8px;
  margin-left: 205px;
}

.busqueda input {
  border: none;
  outline: none;
  font-size: 13px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
}

.busqueda i {
  color: #012e42;
  font-size: 16px;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 20px;
}

.acciones i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}


.acciones i:hover {
  color: #4da6ff;
}

/* Barra lateral */
.lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 205px;
  height: 100vh; /* altura total */
  background-color: #012e42;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* Logo centrado arriba */
.lateral .logo {
  text-align: center;
  margin: 20px 0;
}

.lateral img {
  width: 110px;
}

/* Menú principal */
.menu {
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1; /* permite crecer si hay espacio */
}

/* Ítems del menú */
.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.menu-item i {
  font-size: 17px; /* Tamaño de los logos */
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Menú desplegable */
.menu-group {
  border: none;
  padding: 0;
}

.menu-group summary {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  transition: background 0.3s ease;
  justify-content: space-between;
}

.menu-group summary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-group[open] .arrow {
  transform: rotate(90deg);
}

.arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}

/* Submenú */
.submenu {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05); /* fondo */
  border-left: 2  px solid #ffffff; /* línea blanca a la izquierda */
  padding: 10px 0 10px 7px;
  margin-top: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* sombra */
  gap: 10px;
}

.submenu a {
  text-decoration: none;
  color: #d0e6f8;
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.submenu a::before {
  content: "•";
  color: #ffffff;
  font-size: 20px;
  margin-right: 15px;
}

.submenu a:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  transform: translateX(5px);
}

/* Contenido modulo */
.contenido-dashboard {
  margin-top: 60px; /*  espacio a la barra superior fija */
  margin-left: 210px; /* ancho de la barra lateral */
  padding: 20px;
}

.titulo-dashboard {
  text-align: center;
  font-size: 22px;
  color: #012e42;
  font-weight: 600;
}

.contenido-dashboard h3 {
  text-align: center;
  font-size: 13px;
  color:  #888;
  margin-top: 10px;
  margin-bottom: 60px;
  font-weight: 400;
}

.contenido-dashboard h4 {
  text-align:left;
  font-size: 22px;
  color:   #012e42;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Tarjetas */
.tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.tarjeta {
  margin-top: 5px;
  width: 250px;
  height: 150px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}

.tarjeta i {
  font-size: 32px;
  margin-bottom: 10px;
}

.label {
  font-size: 14px;
  color: #888;
}

.valor {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

/* Colores por tipo */
.azul { border-top: 5px solid #2196f3; }
.verde { border-top: 5px solid #4caf50; }
.amarilla { border-top: 5px solid #ffc107; }
.morada { border-top: 5px solid #012e42; }

.tarjeta i {
  color: #012e42; /* Color de los iconos */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tarjeta {
  animation: fadeInScale 0.6s ease forwards;
  opacity: 0;
}


.tarjeta:nth-child(1) {
  animation-delay: 0.1s;
}
.tarjeta:nth-child(2) {
  animation-delay: 0.2s;
}
.tarjeta:nth-child(3) {
  animation-delay: 0.3s;
}
.tarjeta:nth-child(4) {
  animation-delay: 0.4s;
}


.contenedor-graficos {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.grafico-container,
.grafico-barras-container {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  flex: 1 1 400px;
}

.grafico-container canvas,
.grafico-barras-container canvas {
  width: 100% !important;
  max-width: 400px;
  height: auto !important;
  margin: 0 auto;
}

.tabla-asignaciones-container {
  margin-top: 30px;
}

.tabla-asignaciones {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 12px;
}

.tabla-asignaciones th,
.tabla-asignaciones td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.tabla-asignaciones th {
  background-color: #012e42;
  color: white;
}


.tabla-asignaciones-container h4 {
  text-align: center;
  font-size: 18px;
  color: #012e42;
  margin-bottom: 20px;
}


/* Para pantallas medianas (tablets) */
@media (max-width: 992px) {
  .tarjeta {
    flex: 1 1 calc(50% - 20px);
  }

  .contenido-dashboard {
    margin-left: 0;
    padding: 20px;
  }

  .graficos {
    flex-direction: column;
    align-items: center;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .tarjeta {
    flex: 1 1 100%;
  }

  #graficoCircular {
    max-width: 100%;
    height: auto;
  }

  .titulo-dashboard {
    font-size: 22px;
  }

  .btn-modulo a {
    width: 100%;
    display: block;
  }
}


